<div>
  <div>
    <h1>Formulário de Cadastro de Pessoa Física</h1>

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Insira seu nome completo...">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Exemplo: Alex da Silva Pessanha</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput [type]="isPasswordHidden ? 'password' : 'text'" placeholder="Digite uma senha segura...">
      <button mat-icon-button matSuffix (click)="isPasswordHidden = !isPasswordHidden">
        <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Biografia</mat-label>
      <textarea matInput rows="3"></textarea>
    </mat-form-field>

    <mat-slide-toggle>Deseja receber mensagens pelo Whatsapp?</mat-slide-toggle>

    <mat-form-field>
      <mat-label>Estado Civil</mat-label>
      <mat-select>
        <mat-option value="single">Solteir*</mat-option>
        <mat-option value="married">Casad*</mat-option>
        <mat-option value="divorced">Divorciad*</mat-option>
        <mat-option value="widowed">Viuv*</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="birthDate">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="birthDate"></mat-datepicker-toggle>
      <mat-datepicker #birthDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Estado de Nascimento</mat-label>
      <input type="text"
             placeholder="Selecione um Estado..."
             matInput
             [formControl]="birthState"
             [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of brazilianStatesFiltered | async" [value]="state">
          {{ state }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-radio-group>
      <label>Escolha um Plano:</label>
      <mat-radio-button value="basic">Plano Básico</mat-radio-button>
      <mat-radio-button value="intermediate">Plano Intermediario</mat-radio-button>
      <mat-radio-button value="plus">Plano Mais</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <mat-label>Escolha o período da assinatura</mat-label>
      <mat-date-range-input [rangePicker]="subscriptionPeriod">
        <input matStartDate placeholder="Data de Início">
        <input matEndDate placeholder="Data de Término">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="subscriptionPeriod"></mat-datepicker-toggle>
      <mat-date-range-picker #subscriptionPeriod></mat-date-range-picker>
    </mat-form-field>

    <label matTooltip="No total, desde que conheceu o React!">Há quantos anos trabalha com React?</label>
    <mat-slider min="0" max="10" step="1" discrete>
      <input matSliderThumb>
    </mat-slider>

    <section>
      <label>De quais tecnologias quer receber atualizações?</label>
      <mat-checkbox>React</mat-checkbox>
      <mat-checkbox>Angular</mat-checkbox>
      <mat-checkbox>Vue</mat-checkbox>
      <span matTooltip="Previsão para 2024">
        <mat-checkbox [disabled]="true">Typescript (Em breve)</mat-checkbox>
      </span>
    </section>

    <button 
      mat-flat-button 
      color="primary" 
      (click)="registerPerson()"
    >
      CADASTRAR PESSOA
    </button>
    
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  </div>
</div>